{% extends "main/base.html" %}
{% block title %}
  Controller
{% endblock title %}
{% block extra_css %}
  <style>
    #hide-messages-button {
      filter: invert(1);
      float: right;
    }
    .message-item {
      font-family: 'Arial', sans-serif;
      font-size: 0.875rem;
      line-height: 1.4;
    }
    .flex-container {
      display: flex;
      gap: 15px;
    }
    .flex-container .fsm-panel {
      flex: 1;
    }
    .flex-container .message-panel {
      width: 30%;
    }
  </style>
{% endblock extra_css %}
{% block extra_js %}
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/themes/light.css" />
  <script type="module"
          src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/shoelace-autoloader.js"></script>
{% endblock extra_js %}
{% block content %}
  <div class="container-fluid no-padding no-margin">
    <div class="flex-container" id="main-content">
      <!-- Finite state machine Panel -->
      <div class="fst-panel">
        <div class="card shadow-sm rounded">
          <div class="card-header bg-primary text-white rounded-top mb-3">
            <h5>Finite State Machine</h5>
          </div>
          <div class="card-body">
            <div hx-get="{% url 'controller:state_machine' %}"
                 hx-trigger="load"
                 hx-target="#state-machine"></div>
            <div id="state-machine"></div>
          </div>
        </div>
      </div>
      <div class="fst-panel">
        <div class="card shadow-sm rounded">
          <div class="card-header bg-primary text-white rounded-top mb-3">
            <h5>Application Tree</h5>
          </div>
          <div class="card-body">
            <div hx-get="{% url 'controller:app_tree' %}"
                 hx-trigger="load"
                 hx-target="#app_tree"></div>
            <div id="app_tree"></div>
          </div>
        </div>
      </div>
      {% include "main/messages.html" with topic="ERS" %}
    </div>
  </div>
  <!-- Arguments dialog -->
  <div id="arguments-dialog"></div>
{% endblock content %}
