<!-- Messages Panel with toggle -->
<div class="message-panel">
  <div class="card shadow-sm">
    <div class="card-header bg-info text-white">
      <h5 class="d-inline">Messages</h5>
      <!-- Updated Hide Messages Button as a close icon -->
      <button id="hide-messages-button"
              type="button"
              class="btn-close"
              aria-label="Close"
              _="on click add .hide-messages to #main-content show #show-messages-button"></button>
    </div>
    <div class="card-body">
      {% now "e (O)" as server_time %}
      <span id="timezone" class="d-line text-body-tertiary">All timestamps are displayed in {{ server_time }}</span>
      <!-- Filter Form -->
      <form id="filter-form" method="get">
        <!-- Search Input -->
        <input class="form-control mb-2"
               type="search"
               name="search"
               placeholder="Search messages..."
               hx-get="{% url 'main:messages' topic %}"
               hx-trigger="input changed delay:500ms, every 1s"
               hx-target="#message-list"
               hx-include="#filter-form">
        <!-- Severity Filter Dropdown -->
        <select name="severity"
                class="form-select mb-2"
                hx-get="{% url 'main:messages' topic %}"
                hx-target="#message-list"
                hx-include="#filter-form">
          <option value="">All Severities</option>
          <option value="DEBUG">DEBUG</option>
          <option value="INFO">INFO</option>
          <option value="ERROR">ERROR</option>
          <option value="CRITICAL">CRITICAL</option>
        </select>
      </form>
      <div id="message-list"
           class="list-group"
           hx-get="{% url 'main:messages' topic %}"
           hx-trigger="load"></div>
    </div>
  </div>
</div>
